@font-face {
	font-family: Ubuntu;
	src: url("assets/fonts/Ubuntu-Light.ttf");
}
@font-face {
	font-family: UbuntuMono;
	src: url("assets/fonts/UbuntuMono-Regular.ttf");
}

code , pre {
	word-spacing: normal;
	word-wrap: break-word;
	hyphens: none;
	direction: ltr;
}

pre code {
	background: none;
	box-shadow: none;
	display: inline-block;
	line-height: 1.5rem;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

pre {
	background-color: rgba(0,0,0,.03);
	color: #111;
	display: block;
	margin-bottom: 1.5rem;
	margin-top: 0;
	overflow: auto;
	padding: .5rem 1rem;
	text-shadow: none;
	white-space: pre;
}

code {
	white-space: inherit;
	font-family: UbuntuMono, monospace;
	background-color: rgba(0,0,0,.03);
	border-radius: .125rem;
	-webkit-box-decoration-break: slice;
	color: inherit;
	line-height: 1.25rem;
	padding: calc(0.25rem - 1px) .25rem
}
.container { width: 80%;
	margin: auto;
}
body {
	font-family: Ubuntu, Helvetica, Arial;
}
p {
	line-height: 1.5rem;
	margin-top: 0;
	padding-top: .4005rem;
	text-align: left;
	font-family: Ubuntu, Helvetica, Arial;
}
p.link {
	text-align: left;
	font-family: Ubuntu, Helvetica, Arial;
	font-weight: normal;
	font-size: 80%;
}
p.copy {
	text-align: center;
	font-style: bold;
	font-size: 80%;
	line-height: 1.2rem;
}
p.more {
	text-align: right;
	font-style: normal;
	font-size: 100%;
}
p.vilink {text-align: right;}
p.faq1, p.intro {text-align: left;
	font-family: Ubuntu, Helvetica, Arial;
	font-weight: normal;
	font-style: italic;
}
a:link {color: blue; text-decoration: none }
a:hover {background:#eeeeee; color:black}
a:visited { color: blue; text-decoration: none }
th {
	border-bottom: 2px solid black;
}
tr td {
	border-bottom: 1px solid #BBB;
	padding-bottom: 6px;
}

/* customized from now */
blockquote {
	border-left: 5px solid #eee;
	padding-left: 5px;
}
h2 {
	padding-top: 25pt;
	border-bottom: 2px solid #ddd;
}
ul {
	line-height: 1.5rem;
}
